
@model List<FTCweb.Models.Game>

@{
    ViewBag.Title = "Games";
    @*@{
        var totalGames = Model.Count - 1;
        var completeGames = Model.Count(g => !g.Finished.IsEmpty());
        var rnd = new Random();
        int index = rnd.Next(1, Model.Count + 1);
        int index2 = rnd.Next(1, Model.Count + 1);
        int index3 = rnd.Next(1, Model.Count + 1);
    }
    <h2>@ViewBag.Title.</h2>
    <div style="display: inline-block; height: 2vw">
        @Html.Raw(Model[index].BoxArt);
        @Html.Raw(Model[index2].BoxArt);
        @Html.Raw(Model[index3].BoxArt);
    </div>*@

}
<h2>@ViewBag.Title.</h2>

@FTCweb.Models.GenreEnum.Genre.Shooter_3D
<img src="~/Content/img/SnesCover/3 Ninjas Kick Back (USA).png" />
<table id="game-table" class="table-dark table table-bordered table-hover dt-responsive bootstrap-table" style="width: 100%">
    <thead style="width: 100%">
        <tr>
            <th>Completed</th>
            <th>BoxArt</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Time</th>
            <th>Video</th>
        </tr>
    </thead>
    <tbody>
        <tr></tr>
    </tbody>
</table>


@section scripts{
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <script>
        var greenCheck = "<div style='text-align: center'><span class='fa-vw fa-stack'><i style='color: green' class='fa fa-circle fa-stack-2x fa-shadow2' ></i><i style='color: white' class='fa-shadow fa fa-check-circle fa-stack-2x'></i></span ></div>";
        var redX = "<div style='text-align: center'><span class='fa-vw fa-stack'><i style='color: red' class='fa fa-circle fa-stack-2x fa-shadow2' ></i><i style='color: white' class='fa-shadow-red fa fa-times-circle fa-stack-2x fa-shadow-red'></i></span ></div>";

        $(document).ready(function () {
            $("#game-table").DataTable({
                order: [[1, 'asc']],
                ajax: {
                    type: "GET",
                    url: "/api/games",
                    dataSrc: "gameList"
                },
                columns: [
                    {
                        data: "finished",
                        render: function (data, type, game) {
                            if (game.finished === '1') {
                                return greenCheck;
                            } else {
                                return redX;
                            }
                        }
                    },
                    {
                        data: "boxArt",
                        render: function (data, type, game) {
                            return game.boxArt
                        }
                    },
                    { data: "title" },
                    { data: "genre" },
                    { data: "runtime" },
                    {
                        data: "videoLink"
                        //render: function (data, type, customer) {
                        //    return "<div class='text-center'>" +
                        //        "<button data-customer-name='" + customer.name +
                        //        "'data-customer-id='" + data +
                        //        "'class='btn btn-link jq-delete' type='button' >delete</button>" + "</div>"
                        //}
                    }
                ]
            });
        });

    </script>

}

