@model FTCweb.ViewModels.GameListViewModel
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_HomePage.cshtml";
    var game1 = Model.GetRandomGame();
    var game2 = Model.GetRandomGame();
    var game3 = Model.GetRandomGame();
}

<style>
    .btn-center {
        position: center;
    }

    .test {
        margin-bottom: 0px;
    }
    .slick-slide {
        height: initial;
        display:none;
    }

    .jumbotron {
        background-image: linear-gradient(#03000e,#000000bf, #212529, #000000 50%), url(/Content/img/snes-banner.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top 50 left;
        background-attachment: fixed;
        background-position-x: top;
        overflow: auto;
        height: 50%;
        margin-bottom: 0;
    }

    .card-left-offset {
        margin-left: 0px;
    }

    .col-no-left-padding {
        padding-left: 0px;
    }

    .side-bar-offset {
        padding-right: 0px;
    }

    .card-background {
        background: linear-gradient( #000000, #000000, #21252985);
        border-bottom-right-radius: 30%;
    }

    .card-bottom-padding {
        padding-bottom: 10%;
    }

    .container-bg-dark {
        padding-top: 1%;
        background: url(img/img-noise.png), linear-gradient(#000000, #000000fa, #00000073, #000000);
        background-attachment: fixed;
    }

    .container-bg-img {
        padding-top: 1%;
        background: url(img/img-noise.png), linear-gradient(#00000000, #000000, #00000073, black);
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<section>

    <div class="jumbotron ">

        <div class="display-4">Main Page Test</div>
        <p class="text-muted">Just testing out bootstrap 4 with this page</p>
        <div class="row justify-content-around">
            <a href="#" class="btn btn-primary col-5 col-md-3">Button 1</a>
            <a href="#" class="btn btn-secondary col-5 col-md-3">Button 2</a>
        </div>
    </div>

</section>

<section>

    <div class="container-fluid container-bg-img">
        <div class="">
            <div class="row card-bottom-padding test">

                <div class="col-sm-4">
                    <div class="card card-background">
                        <img src="~/Content/img/SnesCover/2020 Super Baseball (USA).png" class="card-img-top" id="game_1" />
                        <div class="card-body">
                            <h6 class="card-title">@game1.Title</h6>

                            @if (game1.VideoLink.Trim().Length != 0)
                            {
                                <a href="@game1.VideoLink" class="active">Watch Now</a>
                            }
                            else

                            {<p>Hasn't be played</p>}
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card card-background">
                        <img src="~/Content/img/SnesCover/2020 Super Baseball (USA).png" class="card-img-top" id="game_1" />
                        <div class="card-body">
                            <h6 class="card-title">@game1.Title</h6>

                            @if (game1.VideoLink.Trim().Length != 0)
                            {
                                <a href="@game1.VideoLink" class="active">Watch Now</a>
                            }
                            else

                            {<p>Hasn't be played</p>}
                        </div>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="card card-background">
                        <img src="~/Content/img/SnesCover/2020 Super Baseball (USA).png" class="card-img-top" />
                        <div class="card-body">
                            <h6 class="card-title">@game2.Title</h6>

                            @if (game2.VideoLink.Trim().Length != 0)
                            {
                                <a href="@game2.VideoLink" class="active">Watch Now</a>
                            }
                            else

                            {<p>Hasn't be played</p>}
                        </div>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="card card-background">
                        <img src="~/Content/img/SnesCover/2020 Super Baseball (USA).png" class="card-img-top" />
                        <div class="card-body">
                            <h6 class="card-title">@game3.Title</h6>

                            @if (game3.VideoLink.Trim().Length != 0)
                            {
                                <a href="@game3.VideoLink" class="active">Watch Now</a>
                            }
                            else

                            {<p>Hasn't be played</p>}
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="container-fluid container-bg-dark">
        <div class="container">
            <div class="row">

                <div class="col-8">
                    <h1>Welcome Message</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat tincidunt ex nec rutrum. Integer lobortis nibh diam, eget dapibus lorem gravida ac. Class aptent taciti sociosqu ad litora torquent.</p>
                    <p>Vestibulum pharetra lorem sit amet mauris vulputate rutrum. Phasellus vitae sapien a erat luctus condimentum at in nisi. Nam aliquet ornare auctor. Mauris.</p>
                    <p>Class aptent taciti sociosqu ad litora torquent. Phasellus vitae sapien consectetur adipiscing elit.</p>
                </div>

                <div class="col-4 ">
                    <p>
                        Random Snes Cover
                        <img style="width: 100%" src="~/Content/img/SnesCover/2020 Super Baseball (USA).png" />
                    </p>
                    <p>
                        Random Snes Cover
                        <img style="width: 100%" src="~/Content/img/SnesCover/Darius Twin (USA).png" />
                    </p>
                </div>
            </div>
        </div>
    </div>


</section>
<script>
    $('.test').slick({
        centerMode: true,
        centerPadding: '60px',
        slidesToShow: 3,
        swipeToSlide: true,
        responsive: [
            {
                breakpoint: 768,
                settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 3
                }
            },
            {
                breakpoint: 480,
                settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1
                }
            }
        ]
    });


</script>



