@model FTCweb.ViewModels.GameListViewModel
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}
<style>
    .title {
        text-align: center;
        margin-top: 3vw;
    }
</style>

<div class="title"><h1>FTC.Gaming</h1></div>
http://localhost:59883/Content/img/SnesChttphttp://localhost:59883/Content/img/SnesCover/Williams%20Arcade's%20Greatest%20Hits%20(USA).png://localhost:59883/Content/img/SnesCover/Pieces%20(USA).pngover/Williams%20Arcade's%20Greatest%20Hits%20(USA).png
<div style=" margin: 0px 2vw 2vw 2vw; box-shadow: 0px -20px 20vw 16vw rgb(0, 0, 6)">
    <div class="slider" style="background-color: black; max-height: 233px;  padding-top: 3vw">
        <div>@Html.Raw(Model.GetRandomBoxArt())</div>
        <div>@Html.Raw(Model.GetRandomBoxArt())</div>
        <div>@Html.Raw(Model.GetRandomBoxArt())</div>
        <div>@Html.Raw(Model.GetRandomBoxArt())</div>
        <div>@Html.Raw(Model.GetRandomBoxArt())</div>
        <div>@Html.Raw(Model.GetRandomBoxArt())</div>
        <div>@Html.Raw(Model.GetRandomBoxArt())</div>
        <div>@Html.Raw(Model.GetRandomBoxArt())</div>
        <div>@Html.Raw(Model.GetRandomBoxArt())</div>
        <div>@Html.Raw(Model.GetRandomBoxArt())</div>

    </div>
</div>
<div class="container body-content">




</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.slider').slick({
            infinite: true,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 4,
            centerMode: true,

            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 800,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });
</script>


